@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

nav,
footer {
  min-height: 50px;
}

.logo {
  font-weight: bold;
  font-size: 26px;
}

@keyframes dev-link-animation {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: rgba(255, 255, 255, 1);
  }
}

a {
  width: min-content;
}

a:hover {
  color: cyan;
}

@keyframes blinking {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}

@media screen and (max-width: 640px) {
  .logo {
    font-size: 16px;
  }
}